<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="domain">
            <directory>tests/Domain</directory>
        </testsuite>
        <testsuite name="service">
            <directory>tests/Service</directory>
        </testsuite>
        <testsuite name="credit">
            <directory>tests/Credit</directory>
        </testsuite>
        <testsuite name="bakery">
            <directory>tests/Bakery</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>includes/Domain</directory>
            <directory>includes/Credit</directory>
        </include>
    </source>
</phpunit>
